<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <table>

    <tbody>
    <% @users.each do |user| %>
      <div class="row">

        <div class="col-sm-4" style="padding-top: 40px">
          <h3><%= link_to user.user_name, user %></h3>
          <p><%= user.name %></p>
	  <% if current_user.admin%>
  		<%= link_to 'Edit', edit_user_registration_path(user) %>
  		<%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %>
	 
	  <% end %>

          <br>
        </div>
      </div>
    <% end %>
    </tbody>
  </table>
      

  </tbody>
</table>

<br>
<%if current_user.admin %>
  <%= link_to 'New User', edit_user_path(user)%>
<% end %>
