<%= form_for @project, html: { multipart: true } do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categories %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :days_to_go %>
    <%= f.number_field :days_to_go %>
  </div>

  <div class="field">
    <%= f.label :goal_amount %>
    <%= f.number_field :goal_amount %>
  </div>

  <div class="field">
    <%= f.label :actual_money %>
    <%= f.number_field :actual_money %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :descriptive_page %>
    <%= f.text_field :descriptive_page %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <% if user_signed_in? && current_user.admin %>
    <div class="field">
      <%= label_tag :outstanding %>
	    <%= f.check_box :outstanding %>
    </div>
    <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
