<p id="notice"><%= notice %></p>
<div style="width:100; height:100; background-color:lightpink; padding-top: 0px">
  <h1 style="font-size:50px; text-align:left">My Projects</h1>
</div>
<% if user_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>

<table>

  <tbody>
  <div class="row">
    <div class="col-sm-4" style="padding-left: 35px ;padding-top: 20px">
      <%= link_to(image_tag("turtle.jpg", alt: "turtle", height: "350", width: "350")) %>
      <br>
    </div>
    <div class="col-sm-4" style="padding-top: 40px">
      <h3>Title: </h3>

      <div class="col-sm-6">
        <p>Description: </p>
        <p>Goal: $</p>
      </div>
      <div class="col-sm-6">
        <p>Actual Money: $</p>
      </div>
      <div class="col-sm-6">
        <p>Days to go: </p>
      </div>

      <br>
    </div>
  </div>

  <% current_user.projects.each do |project| %>
    <div class="row">
      <div class="col-sm-4" style="padding-left: 35px ;padding-top: 20px">
        <%= link_to(image_tag("turtle.jpg", alt: "forests", height: "350", width: "350"), project) %>
        <br>
      </div>
      <div class="col-sm-4" style="padding-top: 40px">
        <h3><%= project.title %></h3>
        <p><%= project.description %></p>
        <div class="col-sm-6">
          <p>Goal: $<%= project.goal_amount %></p>
        </div>
        <div class="col-sm-6">
          <p>Acual Money: $<%= project.actual_money %></p>
        </div>
        <div class="col-sm-6">
          <p>Days to go: <%= project.days_to_go %></p>
        </div>
        <div class="col-sm-6">
          <% if user_signed_in? %>
            <%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </div>
        <br>
      </div>
    </div>
  <% end %>
  </tbody>
</table>

<br>