<p id="notice"><%= notice %></p>
<div  style="width:100; height:100; background-color:lightpink; padding-top: 0px">
  <h1 style="font-size:50px; text-align:left"><%= @project.title %></h1>
</div>
<div class="container-fluid">
	<p>
	  <% if @project.photo.exists? %>
	    <%= image_tag @project.photo.url(:medium), class:'img-thumbnail' %></p>
	
	 <p> <%= link_to "Download Photo", download_path(id:@project) %></p>
	<%end%>
	<p>
	  <strong>Category:</strong>
	  <% @project.categories.each do |category| %>
	    <%= category.name %>
	  <% end %>
	</p>
    <p>
      <strong>Promises:</strong>
      <% @project.promises.each do |promise| %>
        <div>
          <p> <strong>Description:</strong> <%= promise.description %>
              <strong> Amount: $ </strong><%= promise.amount %>
              <strong> Delivery date: </strong><%= promise.delivery_date %>
            <% if user_signed_in? && !current_user.admin %>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" data-toggle="modal" data-target="#myModal<%=promise.id %>">Buy</button>

            <!-- The Modal -->
            <div id="myModal<%=promise.id %>" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <span class="close">&times;</span>
                  <h2>Promise</h2>
                </div>
                <div class="modal-body">
                  <%= form_for Fund.new do |f| %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
		    <%= f.hidden_field :promise_id, :value => promise.id %>
	            <%= f.hidden_field :project_id, :value => @project.id %>
		    <%= f.hidden_field :amount, :value => nil %>

                    <p><strong>Description:</strong> <%= promise.description %>
                      <strong> Amount: $ </strong><%= promise.amount %>
                      <strong> Delivery date: </strong><%= promise.delivery_date %></p>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit "Buy", class: "btn btn-primary", 'onclick' => UserMailer.with(user: @user).welcome_email.deliver_now%>
                  <% end %>
        </div>
        <div class="modal-footer">
          <h3></h3>
        </div>
        </div>

        </div>
      <% end %>
      <%end%>
    </p>
	<p>
	  <strong>Owner:</strong>
	  <%= link_to @project.user.name , user_path(@project.user)%>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>

	<p>
	  <strong>Days to go:</strong>
	  <%= @project.days_to_go %>
	</p>

   <p>
    <strong>Goal amount: $</strong>
    <%= @project.goal_amount %></p>
    <p><strong>Actual Money: $</strong>
      <%= @project.actual_money %></p>

        <div class="col-sm-2">
	     <div class="progress">
	  		<div class="progress-bar" style="width:<%= (@project.actual_money.to_f/@project.goal_amount.to_f )*100%>%" role="progressbar" aria-valuenow="<%= ((@project.actual_money.to_f/@project.goal_amount.to_f )*100).to_int%>; color:black" aria-valuemin="0" aria-valuemax="<%=@project.goal_amount%>"><%= ((@project.actual_money.to_f/@project.goal_amount.to_f )*100).to_int%>%</div>
		 </div>
</div>


<br>

<p>
  <strong>Descriptive page:</strong>
  <%= @project.descriptive_page %>
</p>



<% if user_signed_in? %>
  <% if @project.user == current_user || current_user.admin%>
    <%= link_to 'Edit', edit_project_path(@project) %>
    <%= link_to 'Destroy', @project, method: :delete, data: {confirm: 'Are you sure?'} %>


  <% else %>
    <div class="row">
    	<div class="col-sm-2">
	<% if user_signed_in? && !current_user.admin %>
            <!-- Trigger/Open The Modal -->
            <button id="myBtn" class= "btn btn-success"data-toggle="modal" data-target="#myModal<%=@project_id %>">Fund with money</button>

            <!-- The Modal -->
            <div id="myModal<%=@project_id %>" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <span class="close">&times;</span>
                  <h2>Fund</h2>
                </div>
                <div class="modal-body">
		<input type="hidden" id="project_id" value="<%= @project.id %>">
	
                  <%= form_for Fund.new do |f| %>
        
                    <%= f.hidden_field :user_id, :value => current_user.id %>
 		    <%= f.hidden_field :project_id, :value => @project.id %>
		    <%= f.hidden_field :promise_id, :value => nil %>
		    


		   <div class="row">
			<div class="col-sm-6">
			    <h3>Enter your amount: </h3>
		            <%= f.number_field :amount%> 
			     
			</div>
			</div>
                    </div>
                    <div class="modal-footer">
                     <%= f.submit "Fund", class: "btn btn-primary", 'onclick' => UserMailer.with(user: @user).welcome_email.deliver_now%>
                  <% end %>
        </div>
        <div class="modal-footer">
          <h3></h3>
        </div>
        </div>

        </div>

      <% end %>
      
    </p>
      	   
	
	<br>
    <div class="row">
    	<div class="col-sm-4">
     		 
     		 <button type="button" class="btn btn-primary" id="wish_btn"  value="<=%@user_id %>">Add to Wishlist</button>
    </div>
    </div>
    
    <% end %>
<div>

    </div>


  

<% end %>
</div>
<%= link_to 'Back', projects_path %>

