<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @project.photo.url(:medium) %>
</p>
<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Days to go:</strong>
  <%= @project.days_to_go %>
</p>

<p>
  <strong>Goal amount:</strong>
  <%= @project.goal_amount %>
</p>

<p>
  <strong>Actual Money:</strong>
  <%= @project.actual_money %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Descriptive page:</strong>
  <%= @project.descriptive_page %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
