<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @fund.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @fund.user %>
</p>

<p>
  <strong>Promise:</strong>
  <%= @fund.promise %>
</p>
<p>
  <strong>Promise:</strong>
  <%= @fund.project %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
