<p id="notice"><%= notice %></p>
<div  style="width:100; height:100; background-color:lightpink; padding-top: 0px">
  <h1 style="font-size:50px; text-align:left">Wishlists</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.project %></td>
        <td><%= link_to 'Show', wishlist %></td>
        <td><%= link_to 'Edit Wishlist', edit_wishlist_path(wishlist) %></td>
        <td><%= link_to 'Destroy Wishlist', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
